<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
	<title>XML to RPP converter</title>
</head>
<body>
	<main role="main" class="container">
		<div class="col-md-8">
	    	{% with messages = get_flashed_messages(with_categories=True) %}
	    		{% if messages %}
	    			{% for category, message in messages %}
	    				<div class="alert alert-{{ category }}">
	    					{{ message }}
	    				</div>
	    			{% endfor %}
    			{% endif %}
	    	{% endwith %}
      		<h1>XML to RPP converter</h1>
      		<p>This is a simple tool to convert FCPX-type xml files to Reaper's rpp sessions. It can be used to exchange session data between editors and sound mixers.</p>
      		<p>To convert a XML file, simpy choose it via dropdown menu and press Convert button below.</p>
      		<p>After file has been converted, you will have to point Reaper to the media files.</p>
      		<p><strong>Please note</strong> that if audio from video used in sequence, you will have to point Reaper to that video file. To counter that, I advise to bounce audio from video files used in sequence prior to exporting XML from your video editing software.</p>
	    	<h2>Upload XML file</h2>
		    <form method=post enctype=multipart/form-data>
		      <input type=file name=file>
		      <input type=submit value=Convert>
		    </form>
	    </div>
    </main>
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>